 header {
    display: block;
    text-align: center;
    padding: 20px;
    width:960px;
  }
.namelogo {

  float: left;
  box-decoration-break: clone;

}





h1 { 

float: left;
text-align: left;

}





.topnav {
 
  background-color: white;
  overflow: hidden;
}
  .topnav a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}



.footer {
  
    width: 960px;
    background-color:grey;
    color:black;
    text-align: center;
}

h1 {

text-align: center;

}
body {
  background: lightblue  no-repeat fixed center;
}



