 header {
    display: block;
    text-align: center;
    padding: 20px;
  
  }

h1 { 

float: left;
text-align: left;
background-color: turquoise;

}
.topnav {
 
  background-color: white;
  overflow: hidden;

}

  .topnav a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}











input {
  width: 100%;
}
.col-25 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.col-75 {

  width: 100%;
  margin-top: 6px;

}



.footer {

  
    background-color:grey;
    color:black;
    text-align: center;
}

h1 {

text-align: center;

}
body {
  background-color:white;
}



